
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader Area Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvasSidebar" aria-labelledby="cartOffcanvasSidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="cartOffcanvasSidebarLabel">Shopping Cart</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="cart-product-list" id="offcanvas-cart">

            <!-- Product item start -->
            <script>
                function RemoveSingleItemFromCart(event, item_slug) {
                    event.preventDefault();
                    console.log('Clicked');
                    $.ajax({
                        type: 'POST',
                        url: "/remove-item-from-cart/12345/".replace(/12345/, item_slug.toString()),
                        data: {
                            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'type': 'json',
                            'slug': item_slug
                        },
                        success: function(response_data) {
                            console.log(response_data);
                            $('#total-bottom').load(location.href+" #total-bottom>*","");
                            $('#total-div').load(location.href+" #total-div>*","");
                            $('#cart-product-list').load(location.href+" #cart-product-list>*","");
                            $('#price-area').load(location.href+" #price-area>*","");
                            // make for loop that runs 10 times and logs 'test'
                            $('#cart-items').load(location.href+" #cart-items>*","");
                            $('#cart-total').load(location.href+" #cart-total>*","");      

                        },
                        error: function(data) {
                            console.log(data)
                        }
                        
                    })
                };
                function RemoveItemFromCart(event, item_slug) {
                    event.preventDefault();
                    console.log('Default event Prevented')
                    $.ajax({
                        type: 'POST',
                        url: "/remove-from-cart/12345/".replace(/12345/, item_slug.toString()),
                        data: {
                            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'type': 'json',
                            'slug': item_slug
                        },
                        success: function(response_data) {
                            console.log(response_data);
                            $('#total-bottom').load(location.href+" #total-bottom>*","");
                            $('#total-div').load(location.href+" #total-div>*","");
                            $('#cart-product-list').load(location.href+" #cart-product-list>*","");
                            $('#price-area').load(location.href+" #price-area>*","");
                            // make for loop that runs 10 times and logs 'test'
                            $('#cart-items').load(location.href+" #cart-items>*","");
                            $('#cart-total').load(location.href+" #cart-total>*","");      
                        },
                        error: function(data) {
                            console.log(data)
                        }
                    })
                };
                function addItemToCart(event, item_slug) {
                    event.preventDefault()
                    console.log('Default event Prevented')
                    $.ajax({
                        type: 'POST',
                        url: "/ajax-add-to-cart/12345/".replace(/12345/, item_slug.toString()),
                        data: {
                            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'type': 'json',
                            'slug': item_slug
                        },
                        success: function(response_data) {
                            console.log(response_data);
                            
                            $('#total-bottom').load(location.href+" #total-bottom>*","");
                            $('#total-div').load(location.href+" #total-div>*","");
                            $('#cart-product-list').load(location.href+" #cart-product-list>*","");
                            $('#price-area').load(location.href+" #price-area>*","");
                            // make for loop that runs 10 times and logs 'test'
                            $('#cart-items').load(location.href+" #cart-items>*","");
                            $('#cart-total').load(location.href+" #cart-total>*","");
                            $('#summary-list').load(location.href+" #summary-list>*","");      
                        },
                        error: function(data) {
                            console.log(data)
                        }
                    })
                }
            </script>
            {% if order %}
            <div id="cart-items">
                {% for item in products %}
                <div class="product-item cart-product-item">
                    <div class="single-grid-product">
                        <div class="product-top">
                            <a href="single-product.html"><img class="product-thumbnal" src="{% static 'assets/images/cart-sidebar-img1.png' %} " alt="cart"></a>
                        </div>
                        <script>
                            console.log('{{item.item.slug}}');
                        </script>
                        <div class="product-info">
                            <div class="product-name-part">
                                <h3 class="product-name"><a class="product-link" href="single-product.html">{{ item.item.name }}</a></h3>

                                <div class="cart-quantity input-group">
                                    <a href="javascript:void(0)" id="remove-single-item" onclick="RemoveSingleItemFromCart(event, '{{ item.item.slug }}')"><div class="increase-btn dec qtybutton btn">-</div></a>
                                    <input id="quantity" class="qty-input cart-plus-minus-box" type="text" name="qtybutton" value="{{ item.quantity }}" readonly />
                                    <a href="javascript:void(0)" onclick="addItemToCart(event, '{{ item.item.slug }}')"><div class="increase-btn inc qtybutton btn">+</div></a>
                                </div>

                                <button class="cart-remove-btn" id="remove-item" onclick="RemoveItemFromCart(event, '{{ item.item.slug }}')"><a href="{{ item.item.get_remove_from_cart_url }}">Remove</a></button>
                            </div>
                            <div class="product-price" id="cart-total">
                                <span class="price">${{ item.get_total_item_price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            
                <script>
                    var item_slug = '{{ item.item.slug }}';
                    var remove_single_item_from_cart_url = "{% url 'core:remove_single_item_from_cart' slug=12345 %}".replace(/12345/, item_slug.toString());
                    console.log(remove_single_item_from_cart_url);
                    document.getElementById()
                </script>
                {% endfor %}
            </div>
            {% else %}
            <div id="cart-items">
                {% comment %} Create an aesthetically pleasing text saying your cart is empty {% endcomment %}
                <div class="product-item cart-product-item">
                    <div class="single-grid-product">
                        
                        <div class="product-info">
                            <div class="product-name-part">
                                <h3 class="product-name"><a class="product-link" href="single-product.html">Your cart is empty</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            
            <!-- Product item end -->

            <!-- Product item start -->
            
            <!-- Product item end -->
        </div>
        {% comment %} if the user doesnt have an order grey out the Proceed To Checkout button {% endcomment %}
        <div id="total-bottom-body">
            {% if order %}
            <div class="total-bottom-part" id="total-bottom-part">
                <div class="total-count d-flex" id="total-bottom">
                    <h3>Total</h3>
                    <h4 id="cart-off-canvas-total">
                        ${{ order.get_subtotal }}
                    </h4>
                </div>
                <a href="{% url 'core:checkout-page' %}" class="proceed-to-btn d-block text-center">
                    Proceed To Checkout
                </a>
            </div>
            {% else %}
            <div class="total-bottom-part" id="disabled-total-bottom-part">
                <div class="total-count d-flex" id="total-bottom">
                    <h3>Total</h3>
                    <h4 id="cart-off-canvas-total">
                        $0.00
                    </h4>
                </div>
                {% comment %} make the procced to checkout button disabled {% endcomment %}
                <a href="javascript:void(0)" id="disabled-checkout-proceed" class="proceed-to-btn d-block text-center" disabled>
                    Proceed To Checkout
                </a>
                <style>
                    #disabled-checkout-proceed {
                        pointer-events: none;
                        cursor: default;
                        {% comment %} make the button look like its disabled {% endcomment %}
                        background-color: #ccc;
                        color: #fff;

                    }
                </style>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div id="preloader">
    <div id="status">
        <img src="{% static 'assets/images/preloader.svg' %} " alt="img" />
    </div>
</div>
<!-- Preloader Area End -->


<!-- mobile-header-area area end here  -->

<!-- mobile-menu-area area start here  --
<!-- mobile-menu-area area end here  -->

<!-- Cart Offcanvas Sidebar Menu area Start here  -->

<!-- Cart Offcanvas Sidebar Menu area end here  -->

<!-- breadcrumb area start here  -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-wrap text-center">
            <h2 class="page-title">Contact Us</h2>
            <ul class="breadcrumb-pages">
                <li class="page-item"><a class="page-item-link" href="{% url 'core:home-page' %}">Home</a></li>
                <li class="page-item">Contact Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb area end here  -->

<!-- contact us area start here  -->
<div class="contact-us-area section-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="contact-us-top">
                            <div class="row">


                            </div>

                        </div>

                        <div class="contact-form-area">
                            <div class="contct-form-top text-center">
                                <h2 class="form-title">Got any questions?</h2>
                                <p class="form-subtitle">Use the form below to get in touch</p>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="EmilAddress" name="EmailAddress" placeholder="Emil Address" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" placeholder="Contact Number" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control message-box" id="message" name="message" rows="3" placeholder="Type Message Here...."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="primary-btn col-md-12">Send Message</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
<!-- contact us area end here  -->

<!-- shop map area start here  -->



