{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if order %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvasSidebar" aria-labelledby="cartOffcanvasSidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="cartOffcanvasSidebarLabel">Shopping Cart</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="cart-product-list" id="offcanvas-cart">

            <!-- Product item start -->
            <script>
                function RemoveSingleItemFromCart(event, item_slug) {
                    event.preventDefault();
                    console.log('Clicked');
                    $.ajax({
                        type: 'POST',
                        url: "/remove-item-from-cart/12345/".replace(/12345/, item_slug.toString()),
                        data: {
                            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'type': 'json',
                            'slug': item_slug
                        },
                        success: function(response_data) {
                            console.log(response_data);
                            $('#total-bottom').load(location.href+" #total-bottom>*","");
                            $('#total-div').load(location.href+" #total-div>*","");
                            $('#cart-product-list').load(location.href+" #cart-product-list>*","");
                            $('#price-area').load(location.href+" #price-area>*","");
                            // make for loop that runs 10 times and logs 'test'
                            $('#cart-items').load(location.href+" #cart-items>*","");
                            $('#cart-total').load(location.href+" #cart-total>*","");      

                        },
                        error: function(data) {
                            console.log(data)
                        }
                        
                    })
                };
                function RemoveItemFromCart(event, item_slug) {
                    event.preventDefault();
                    console.log('Default event Prevented')
                    $.ajax({
                        type: 'POST',
                        url: "/remove-from-cart/12345/".replace(/12345/, item_slug.toString()),
                        data: {
                            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'type': 'json',
                            'slug': item_slug
                        },
                        success: function(response_data) {
                            console.log(response_data);
                            $('#total-bottom').load(location.href+" #total-bottom>*","");
                            $('#total-div').load(location.href+" #total-div>*","");
                            $('#cart-product-list').load(location.href+" #cart-product-list>*","");
                            $('#price-area').load(location.href+" #price-area>*","");
                            // make for loop that runs 10 times and logs 'test'
                            $('#cart-items').load(location.href+" #cart-items>*","");
                            $('#cart-total').load(location.href+" #cart-total>*","");      
                        },
                        error: function(data) {
                            console.log(data)
                        }
                    })
                };
                function addItemToCart(event, item_slug) {
                    event.preventDefault()
                    console.log('Default event Prevented')
                    $.ajax({
                        type: 'POST',
                        url: "/ajax-add-to-cart/12345/".replace(/12345/, item_slug.toString()),
                        data: {
                            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'type': 'json',
                            'slug': item_slug
                        },
                        success: function(response_data) {
                            console.log(response_data);
                            
                            $('#total-bottom').load(location.href+" #total-bottom>*","");
                            $('#total-div').load(location.href+" #total-div>*","");
                            $('#cart-product-list').load(location.href+" #cart-product-list>*","");
                            $('#price-area').load(location.href+" #price-area>*","");
                            // make for loop that runs 10 times and logs 'test'
                            $('#cart-items').load(location.href+" #cart-items>*","");
                            $('#cart-total').load(location.href+" #cart-total>*","");
                            $('#summary-list').load(location.href+" #summary-list>*","");      
                        },
                        error: function(data) {
                            console.log(data)
                        }
                    })
                }
            </script>
            <div id="cart-items">
                {% for item in products %}
                <div class="product-item cart-product-item">
                    <div class="single-grid-product">
                        <div class="product-top">
                            <a href="single-product.html"><img class="product-thumbnal" src="{% static 'assets/images/cart-sidebar-img1.png' %} " alt="cart"></a>
                        </div>
                        <script>
                            console.log('{{item.item.slug}}');
                        </script>
                        <div class="product-info">
                            <div class="product-name-part">
                                <h3 class="product-name"><a class="product-link" href="single-product.html">{{ item.item.name }}</a></h3>

                                <div class="cart-quantity input-group">
                                    <a href="javascript:void(0)" id="remove-single-item" onclick="RemoveSingleItemFromCart(event, '{{ item.item.slug }}')"><div class="increase-btn dec qtybutton btn">-</div></a>
                                    <input id="quantity" class="qty-input cart-plus-minus-box" type="text" name="qtybutton" value="{{ item.quantity }}" readonly />
                                    <a href="javascript:void(0)" onclick="addItemToCart(event, '{{ item.item.slug }}')"><div class="increase-btn inc qtybutton btn">+</div></a>
                                </div>

                                <button class="cart-remove-btn" id="remove-item" onclick="RemoveItemFromCart(event, '{{ item.item.slug }}')"><a href="{{ item.item.get_remove_from_cart_url }}">Remove</a></button>
                            </div>
                            <div class="product-price" id="cart-total">
                                <span class="price">${{ item.get_total_item_price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            
                <script>
                    var item_slug = '{{ item.item.slug }}';
                    var remove_single_item_from_cart_url = "{% url 'core:remove_single_item_from_cart' slug=12345 %}".replace(/12345/, item_slug.toString());
                    console.log(remove_single_item_from_cart_url);
                    document.getElementById()
                </script>
                {% endfor %}
            </div>
            
            
            <!-- Product item end -->

            <!-- Product item start -->
            
            <!-- Product item end -->
        </div>

        <div class="total-bottom-part">
            <div class="total-count d-flex" id="total-bottom">
                <h3>Total</h3>
                <h4 id="cart-off-canvas-total">
                    ${{ order.get_subtotal }}
                </h4>
            </div>
            <a href="{% url 'core:checkout-page' %}" class="proceed-to-btn d-block text-center">
                Proceed To Checkout
            </a>
        </div>

    </div>
</div>
{% endif %}
<div id="preloader">
    <div id="status">
        <img src="{% static 'assets/images/preloader.svg' %}" alt="img" />
    </div>
</div>




<div class="hero-section-v2">
    <div class="hero-section-wrap">
        <div class="signle-banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-7">
                        <div class="hero-content">
                            <h1 class="hero-title">Exclusive Summer Sale is Going On zairito The Shopify </h1>
                            <p class="hero-text">Curabitur non nulla sit amet nisl tempus convallis quis lectus. porttitor lectus 
                                nibh. Curabitur arcu erat, accu msan id imperdiet et, porttitor at. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue eget malesuaa. Lorem </p>
                            <div class="hero-btn">
                                <a href="{% url 'core:shop-grid' %}" class="secondary-btn">See Collections <i class="iocn flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-5">
                        {% comment %} <div class="hero-banner-image text-center">
                            <img class="hero-image" src="{% static 'assets/images/hero-slider-v2-image.png' %} " alt="hero-banner-image" />
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brads-area-v2 section-top">
    <div class="container">
        <div class="brads-wrap">
            <div class="brads-slide">
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/treva.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/zoo-tv.png' %}" alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/circle.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/code-lab.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/hex-lab.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/kanba.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/circle.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/circle.png' %} " alt="brad image" />
                </div>
                <div class="sigle-brad">
                    <img src="{% static 'assets/images/code-lab.png' %} " alt="brad image" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-categories-area-v2 section">
</div>
{% if featured %}
<div class="featured-products-area-v2 section-bg-two section-top pb-100 tab-content" id="FeaturedProductsTabContent">
    <div class="container">
        <div class="section-header-two text-center">
            <h2 class="section-title">Featured Products</h2>
        </div>
        <div class="tab-pane fade show active">
            <div class="recommend-product-slide">
                {% for product in featured %}
                <div class="single-grid-product-v2">
                    <div class="product-top">
                        {% if product.home_page_image %}
                        <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{{product.home_page_image.url}}" alt="product" /></a>
                        {% else %}
                        <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{% static 'assets/images/home-two-product-image-4.png' %} " alt="product" /></a>
                        {% endif %}
                        {% if product.discount_price %}
                        <div class="product-flags">
                            <span class="product-flag sale">SALE</span>
                            <span class="product-flag discount">-{{ product.get_discount_percentage }}%</span>
                        </div>
                        {% endif %}
                        <ul class="prdouct-btn-wrapper">
                            <li class="single-product-btn">
                                <a class="addToWishlist product-btn" href="compare.html" title="Add to compare"><i class="icon flaticon-bar-chart"></i></a>
                            </li>
                            <li class="single-product-btn">
                                <a class="addCompare product-btn" href="{{ product.get_add_to_wishlist_url }}" title="Add to wishlist"><i class="icon flaticon-like"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-info text-center">
                        <h4 class="product-catagory">{{ product.get_label_display }}</h4>
                        <h3 class="product-name"><a class="product-link" href="single-product-v2.html">{{ product.name }}</a></h3>
                        <ul class="product-review">
                            <li class="review-item active"><i class="flaticon-star"></i></li>
                            <li class="review-item active"><i class="flaticon-star"></i></li>
                            <li class="review-item active"><i class="flaticon-star"></i></li>
                            <li class="review-item"><i class="flaticon-star"></i></li>
                            <li class="review-item"><i class="flaticon-star"></i></li>
                        </ul>
                        <div class="product-price">
                            {% if product.discount_price %}
                            <span class="regular-price">${{ product.price }}</span>
                            <span class="price">${{ product.discount_price }}</span>
                            {% else %}
                            <span class="price">${{ product.price }}</span>
                            {% endif %}
                        </div>
                        <div class="variable-single-item color-switch">
                            <div class="product-variable-color">
                                {% for color in product.color.all %}
                                    <label>
                                        
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-tomato" style="background: {{ color.code }} !important;"></span>
                                        
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <ul class="size-switch">
                            <li class="single-size active">XL</li>
                            <li class="single-size">LARGE</li>
                            <li class="single-size">SMALL</li>
                        </ul>
                        <a href="{{ product.get_add_to_cart_url }}" title="Add to cart" class="add-cart">Add To Cart <i class="icon fas fa-plus-circle"></i></a>
                        

                    </div>
                </div>
                {% endfor %}
                

            </div>
        </div>
    </div>
</div>
{% endif %}
{% comment %} Uncomment if there's a sale ongoing {% endcomment %}
{% comment %} <div class="spectial-offer-area section-top">
    <div class="container">
        <div class="spectial-offer-wrap">
            <img class="line-shape-one" src="{% static ' assets/images/line-shape-one.png' %}" alt="shape" />
            <img class="line-shape-two" src="{% static 'assets/images/line-shape-two.png' %} " alt="shape" />
            <div class="row">
                <div class="col-lg-5">
                    <div class="offer-image">
                        <img class="thumbnail-image" src="{% static 'assets/images/offer-image.png' %} " alt="offer-image" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="offer-info">
                        <h3 class="offet-text">Spectial Offer</h3>
                        <h2 class="offer-catagory"><span class="color-text">Fashion</span> SALE</h2>
                        <h3 class="offer">50%OFF</h3>
                        <a href="shop-list-left-sidebar.html" class="primary-btn">Shop Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<div class="recommend-product-area section">
    <div class="container">
        <div class="section-header-two text-center">
            <h2 class="section-title">Featured Products</h2>
            <div class="secendary-tabs mt-40 ">
                <ul class="nav nav-tabs" id="FeaturedProductsTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="NEWARRIVAL-tab" data-bs-toggle="tab" data-bs-target="#NEWARRIVAL" type="button" role="tab" aria-controls="NEWARRIVAL" aria-selected="true">NEW ARRIVAL</button>
                    </li>
                    {% if best_selling %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="BESTSELLING-tab" data-bs-toggle="tab" data-bs-target="#BESTSELLING" type="button" role="tab" aria-controls="BESTSELLING" aria-selected="false">BEST SELLING</button>
                    </li>
                    {% endif %}
                    {% if on_sale %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="ONSELL-tab" data-bs-toggle="tab" data-bs-target="#ONSELL" type="button" role="tab" aria-controls="ONSELL" aria-selected="false">ON SELL</button>
                    </li>
                    {% endif %}
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="FEATUREDITEMS-tab" data-bs-toggle="tab" data-bs-target="#FEATUREDITEMS" type="button" role="tab" aria-controls="FEATUREDITEMS" aria-selected="false">FEATURED ITEMS</button>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="tab-content" id="FeaturedProductsTabContent">
            {% if new_arrival %}
            <div class="tab-pane fade show active" id="NEWARRIVAL" role="tabpanel" aria-labelledby="NEWARRIVAL-tab">
                <div class="recommend-product-slide">
                    {% for product in new_arrival %}
                    <div class="single-grid-product-v2">
                        <div class="product-top">
                            {% if product.home_page_image %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{{product.home_page_image.url}}" alt="product" /></a>
                            {% else %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{% static 'assets/images/home-two-product-image-4.png' %} " alt="product" /></a>
                            {% endif %}
                            {% if product.discount_price %}
                            <div class="product-flags">
                                <span class="product-flag sale">SALE</span>
                                <span class="product-flag discount">-{{ product.get_discount_percentage }}%</span>
                            </div>
                            {% endif %}
                            <ul class="prdouct-btn-wrapper">
                                <li class="single-product-btn">
                                    <a class="addToWishlist product-btn" href="compare.html" title="Add to compare"><i class="icon flaticon-bar-chart"></i></a>
                                </li>
                                <li class="single-product-btn">
                                    <a class="addCompare product-btn" href="{{ product.get_add_to_wishlist_url }}" title="Add to wishlist"><i class="icon flaticon-like"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info text-center">
                            <h4 class="product-catagory">{{ product.get_label_display }}</h4>
                            <h3 class="product-name"><a class="product-link" href="single-product-v2.html">{{ product.name }}</a></h3>
                            <ul class="product-review">
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                            </ul>
                            <div class="product-price">
                                {% if product.discount_price %}
                                <span class="regular-price">${{ product.price }}</span>
                                <span class="price">${{ product.discount_price }}</span>
                                {% else %}
                                <span class="price">${{ product.price }}</span>
                                {% endif %}
                            </div>
                            <div class="variable-single-item color-switch">
                                <div class="product-variable-color">
                                    {% for color in product.color.all %}
                                    <label>
                                        
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-tomato" style="background: {{ color.code }} !important;"></span>
                                        
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <ul class="size-switch">
                                <li class="single-size active">XL</li>
                                <li class="single-size">LARGE</li>
                                <li class="single-size">SMALL</li>
                            </ul>
                            <a href="{{ product.get_add_to_cart_url }}" title="Add to cart" class="add-cart">Add To Cart <i class="icon fas fa-plus-circle"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
            {% endif %}
            {% if best_selling %}
            <div class="tab-pane fade" id="BESTSELLING" role="tabpanel" aria-labelledby="BESTSELLING-tab">
                <div class="recommend-product-slide">

                    {% for product in best_selling %}
                    <div class="single-grid-product-v2">
                        <div class="product-top">
                            {% if product.home_page_image %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{{product.home_page_image.url}}" alt="product" /></a>
                            {% else %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{% static 'assets/images/home-two-product-image-4.png' %} " alt="product" /></a>
                            {% endif %}
                            {% if product.discount_price %}
                            <div class="product-flags">
                                <span class="product-flag sale">SALE</span>
                                <span class="product-flag discount">-{{ product.get_discount_percentage }}%</span>
                            </div>
                            {% endif %}
                            <ul class="prdouct-btn-wrapper">
                                <li class="single-product-btn">
                                    <a class="addToWishlist product-btn" href="compare.html" title="Add to compare"><i class="icon flaticon-bar-chart"></i></a>
                                </li>
                                <li class="single-product-btn">
                                    <a class="addCompare product-btn" href="wish-list.html" title="Add to wishlist"><i class="icon flaticon-like"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info text-center">
                            <h4 class="product-catagory">{{ product.get_label_display }}</h4>
                            <h3 class="product-name"><a class="product-link" href="single-product-v2.html">{{ product.name }}</a></h3>
                            <ul class="product-review">
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                            </ul>
                            <div class="product-price">
                                {% if product.discount_price %}
                                <span class="regular-price">${{ product.price }}</span>
                                <span class="price">${{ product.discount_price }}</span>
                                {% else %}
                                <span class="price">${{ product.price }}</span>
                                {% endif %}
                            </div>
                            <div class="variable-single-item color-switch">
                                <div class="product-variable-color">
                                    {% for color in product.color.all %}
                                    <label>
                                        
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-tomato" style="background: {{ color.code }} !important;"></span>
                                        
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <ul class="size-switch">
                                <li class="single-size active">XL</li>
                                <li class="single-size">LARGE</li>
                                <li class="single-size">SMALL</li>
                            </ul>
                            <a href="{{ product.get_add_to_cart_url }}" title="Add to cart" class="add-cart">Add To Cart <i class="icon fas fa-plus-circle"></i></a>
                            
                        </div>
                    </div>
                    {% endfor %}

                    
                </div>
            </div>
            {% endif %}
            {% if on_sale %}
            <div class="tab-pane fade" id="ONSELL" role="tabpanel" aria-labelledby="ONSELL-tab">
                <div class="recommend-product-slide">
                    {% for product in on_sale %}
                    <div class="single-grid-product-v2">
                        <div class="product-top">
                            {% if product.home_page_image %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{{product.home_page_image.url}}" alt="product" /></a>
                            {% else %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{% static 'assets/images/home-two-product-image-4.png' %} " alt="product" /></a>
                            {% endif %}
                            {% if product.discount_price %}
                            <div class="product-flags">
                                <span class="product-flag sale">SALE</span>
                                <span class="product-flag discount">-{{ product.get_discount_percentage }}%</span>
                            </div>
                            {% endif %}
                            <ul class="prdouct-btn-wrapper">
                                <li class="single-product-btn">
                                    <a class="addToWishlist product-btn" href="compare.html" title="Add to compare"><i class="icon flaticon-bar-chart"></i></a>
                                </li>
                                <li class="single-product-btn">
                                    <a class="addCompare product-btn" href="wish-list.html" title="Add to wishlist"><i class="icon flaticon-like"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info text-center">
                            <h4 class="product-catagory">{{ product.get_label_display }}</h4>
                            <h3 class="product-name"><a class="product-link" href="single-product-v2.html">{{ product.name }}</a></h3>
                            <ul class="product-review">
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                            </ul>
                            <div class="product-price">
                                {% if product.discount_price %}
                                <span class="regular-price">${{ product.price }}</span>
                                <span class="price">${{ product.discount_price }}</span>
                                {% else %}
                                <span class="price">${{ product.price }}</span>
                                {% endif %}
                            </div>
                            <div class="variable-single-item color-switch">
                                <div class="product-variable-color">
                                    <label>
                                        <input name="modal-product-color"
                                            class="color-select" type="radio" checked="">
                                        <span class="product-color-black"></span>
                                    </label>
                                    <label>
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-tomato"></span>
                                    </label>

                                    <label>
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-gray"></span>
                                    </label>
                                </div>
                            </div>
                            <ul class="size-switch">
                                <li class="single-size active">XL</li>
                                <li class="single-size">LARGE</li>
                                <li class="single-size">SMALL</li>
                            </ul>
                            <a href="{{ product.get_add_to_cart_url }}" title="Add to cart" id="add-to-cart" class="add-cart">Add To Cart <i class="icon fas fa-plus-circle"></i></a>
                            
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}


            <div class="tab-pane fade" id="FEATUREDITEMS" role="tabpanel" aria-labelledby="FEATUREDITEMS-tab">
                <div class="recommend-product-slide">
                    {% for product in featured %}
                    <div class="single-grid-product-v2">
                        <div class="product-top">
                            {% if product.home_page_image %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{{product.home_page_image.url}}" alt="product" /></a>
                            {% else %}
                            <a href="{{ product.get_absolute_url }}"><img class="product-thumbnal" src="{% static 'assets/images/home-two-product-image-4.png' %} " alt="product" /></a>
                            {% endif %}
                            {% if product.discount_price %}
                            <div class="product-flags">
                                <span class="product-flag sale">SALE</span>
                                <span class="product-flag discount">-{{ product.get_discount_percentage }}%</span>
                            </div>
                            {% endif %}
                            <ul class="prdouct-btn-wrapper">
                                <li class="single-product-btn">
                                    <a class="addToWishlist product-btn" href="compare.html" title="Add to compare"><i class="icon flaticon-bar-chart"></i></a>
                                </li>
                                <li class="single-product-btn">
                                    <a class="addCompare product-btn" href="wish-list.html" title="Add to wishlist"><i class="icon flaticon-like"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info text-center">
                            <h4 class="product-catagory">{{ product.get_label_display }}</h4>
                            <h3 class="product-name"><a class="product-link" href="single-product-v2.html">{{ product.name }}</a></h3>
                            <ul class="product-review">
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item active"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                                <li class="review-item"><i class="flaticon-star"></i></li>
                            </ul>
                            <div class="product-price">
                                {% if product.discount_price %}
                                <span class="regular-price">${{ product.price }}</span>
                                <span class="price">${{ product.discount_price }}</span>
                                {% else %}
                                <span class="price">${{ product.price }}</span>
                                {% endif %}
                            </div>
                            <div class="variable-single-item color-switch">
                                <div class="product-variable-color">
                                    <label>
                                        <input name="modal-product-color"
                                            class="color-select" type="radio" checked="">
                                        <span class="product-color-black"></span>
                                    </label>
                                    <label>
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-tomato"></span>
                                    </label>

                                    <label>
                                        <input name="modal-product-color"
                                            class="color-select" type="radio">
                                        <span class="product-color-gray"></span>
                                    </label>
                                </div>
                            </div>
                            <ul class="size-switch">
                                <li class="single-size active">XL</li>
                                <li class="single-size">LARGE</li>
                                <li class="single-size">SMALL</li>
                            </ul>
                            <a href="{{ product.get_add_to_cart_url }}" title="Add to cart" class="add-cart">Add To Cart <i class="icon fas fa-plus-circle"></i></a>
                            
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock content %}
