{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <!-- Preloader Area Start -->
    <div id="preloader">
        <div id="status">
            <img src="{% static 'assets/images/preloader.svg' %}" alt="img" />
        </div>
    </div>
    <!-- Preloader Area End -->

    <!-- header area start here  -->
    <!-- mobile-menu-area area end here  -->

    <!-- Cart Offcanvas Sidebar Menu area Start here  -->
{% if order %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvasSidebar" aria-labelledby="cartOffcanvasSidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="cartOffcanvasSidebarLabel">Shopping Cart</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="cart-product-list">

            <!-- Product item start -->
            {% for item in products %}
            <div class="product-item cart-product-item">
                <div class="single-grid-product">
                    <div class="product-top">
                        <a href="single-product.html"><img class="product-thumbnal" src="{% static 'assets/images/cart-sidebar-img1.png' %} " alt="cart"></a>
                    </div>
                    <div class="product-info">
                        <div class="product-name-part">
                            <h3 class="product-name"><a class="product-link" href="single-product.html">{{ item.item.name }}</a></h3>

                            <div class="cart-quantity input-group">
                                <a href="{% url 'core:remove_single_item_from_cart' item.item.slug %}"><div class="increase-btn dec qtybutton btn">-</div></a>
                                <input class="qty-input cart-plus-minus-box" type="text" name="qtybutton" value="{{ item.quantity }}" readonly />
                                <a href="{% url 'core:add-to-cart' item.item.slug %}"><div class="increase-btn inc qtybutton btn">+</div></a>
                            </div>

                            <button class="cart-remove-btn"><a href="{{ item.item.get_remove_from_cart_url }}">Remove</a></button>
                        </div>
                        <div class="product-price">
                            {% if item.item.discount_price %}
                            <span class="regular-price">${{ item.item.price }}</span>
                            <span class="price">${{ item.item.discount_price }}</span>
                            {% else %}
                            <span class="price">${{ item.get_total_item_price }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Product item end -->

            <!-- Product item start -->
            
            <!-- Product item end -->
        </div>

        <div class="total-bottom-part">
            <div class="total-count d-flex">
                <h3>Total</h3>
                <h4>${{ order.get_total }}</h4>
            </div>
            <a href="{% url 'core:checkout-page' %}" class="proceed-to-btn d-block text-center">
                Proceed To Checkout
            </a>
        </div>

    </div>
</div>
{% endif %}
    <!-- Cart Offcanvas Sidebar Menu area end here  -->

    <!-- breadcrumb area start here  -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h2 class="page-title">Wish List</h2>
                <ul class="breadcrumb-pages">
                    <li class="page-item"><a class="page-item-link" href="{% url 'core:home-page' %}">Home</a></li>
                    <li class="page-item">Wish List</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end here  -->

    <!-- wish-list area start here  -->
    <div class="wish-list-area section">
        <div class="container">
            <div class="row">
                
            <div class="col-12 wish-list-table">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                            <th scope="col">Remove</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in object %}
                            <tr>
                                <td>
                                    <div class="product-image">
                                        <a href="single-product.html"><img class="product-thumbnal" src="{{ item.shop_grid_image.url }}" alt="product" /></a>
                                        <div class="product-flags">
                                            {% if item.discount_price %}
                                            <span class="product-flag sale">SALE</span>
                                            <span class="product-flag discount">-{{ item.get_discount_percentage }}%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-info text-center">
                                        <h4 class="product-catagory">{{ item.get_category_display }}</h4>
                                        <h3 class="product-name"><a class="product-link" href="single-product.html">{{ item.name }}</a></h3>
                                        <ul class="product-review">
                                            <li class="review-item active"><i class="flaticon-star"></i></li>
                                            <li class="review-item active"><i class="flaticon-star"></i></li>
                                            <li class="review-item active"><i class="flaticon-star"></i></li>
                                            <li class="review-item"><i class="flaticon-star"></i></li>
                                            <li class="review-item"><i class="flaticon-star"></i></li>
                                        </ul>
                                        <div class="variable-single-item color-switch">
                                            <div class="product-variable-color">
                                                {% for color in item.color.all %}
                                                <label>
                                                    <input name="modal-product-color"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-gray" style="background: {{color.code}} !important;"></span>
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-price text-center">
                                        {% if item.discount_price %}
                                        <h4 class="regular-price">${{ item.price }}</h4>
                                        <h3 class="price">${{ item.discount_price }}</h3>
                                        {% else %}
                                        <h3 class="price">${{ item.price }}</h3>
                                        {% endif %}
                                        
                                    </div>
                                </td>
                                <td>
                                    <div class="action-area">
                                        <a href="{{ item.get_add_to_cart_url }}" title="Add to cart" class="add-cart action-btn">Add To Cart <i class="icon fas fa-plus-circle"></i></a>
                                    </div>
                                </td>
                                <td><a href="{{ item.get_remove_from_wishlist_url }}" ><button class="delet-btn" title="Delete Item"><img src="{% static 'assets/images/close.svg' %}" alt="close" /></button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- wish-list area end here  -->

    <!-- shop map area start here  -->
    <!-- shop map area start here  -->

    <!-- footer area start here -->
    <!-- footer area end here -->
    
    <!-- Js file  -->
</body>
{% endblock content %}